{% extends "layout.html" %}

{% block title %}
    Fights
{% endblock %}

{% block main %}

<div class="card">
    <div class="card-body">

<table class="table table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>Date and Time</th>
            <th>Opponent</th>
            <th>Strength</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row["index"] }}</td>
            <td>{{ row["timestamp"] }}</td>
            <td>{{ row["opponent"] }}</td>
            <td>{{ row["strength"] }}</td>
            <td>{{ row["comments"] }}</td>
            <td>
                <form action="/delfight" method="POST">
                <input type="hidden" value="{{ row["id"] }}" name="delfight">
                <button type="submit" class="btn btn-secondary btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

</div>
</div>

{% endblock %}
