.show {
    display: block !important;
}

.cart-table {
    display: none;
}

.hide {
    display: none !important;
}

.list-group {
    min-width: 10rem !important;
}

.list-group-item {
    min-height: 3rem !important;
}

a {
    color: inherit;
    text-decoration: inherit;
  }


